@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1170px;
    }
}

@media only screen and (min-width: 200px) and (max-width: 575px) {
    .header-actions-wrapper {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        justify-content: center !important;
        background-color: white;
        box-shadow: 0 -1rem 3rem rgba(0, 0, 0, 0.175);
    }

    .header-actions-wrapper > button,
    .hero-actions-wrapper > button {
        padding: 7px 15px;
        font-size: 14px;
    }

    .hero-content h1 {
        font-size: 30px;
        text-align: center;
        line-height: 35px;
    }

    .hero-content p, 
    .hero-content li {
        font-size: 16px;
    }

    .hero-actions-wrapper {
        flex-direction: column;
    }

    .hero-actions-wrapper button {
        width: 100%;
        padding-block: 10px;
    }

    .hero-form {
        padding: 20px;
    }

    .counter-section p {
        margin-bottom: 16px;
    }

    .highlights-section h2 {
        font-size: 28px;
    }
}