* {
    font-family: "Inter", sans-serif;
}

.call-btn,
.demo-btn {
    background-image: linear-gradient(to right, #0ACEFE, #2699FB);
    border-color: #2699FB;

    &:hover {
        background-image: linear-gradient(to right, #2699FB, #0ACEFE);
    }
}

.hero-content h1 {
    font-size: 52px;
    font-weight: 700;
}

.hero-content h1 span {
    color: #0ACEFE;
}

.hero-content p {
    font-size: 22px;
}

.hero-content ul {
    list-style-type: none;
    font-size: 22px;
}

.hero-content ul li i {
    color: #0ACEFE;
}

.hero-actions-wrapper button {
    width: 50%;
    padding-block: 10px;
}

.demo-btn {
    box-shadow: 4px 0px 14px 2px #2699FB61, 0px 1px 2px 0px #1018280D;
}

.download-btn {
    box-shadow: 0px 1px 2px 0px #1018280F, 0px 1px 3px 0px #1018281A;
    border: 1px solid #D0D5DD;
    color: black;
}

.hero-form {
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 #1018280F, 0 1px 3px 0 #1018281A;
}

.hero-form h3 {
    font-size: 18px;
    font-weight: 700;
}

.hero-form button {
    padding-block: 10px;
    width: 100%;
    background-image: linear-gradient(to right, #0ACEFE, #2699FB);
    border-color: #2699FB;

    &:hover {
        background-image: linear-gradient(to right, #2699FB, #0ACEFE);
    }
}

.counter-section h2 {
    font-size: 30px;
    font-weight: 700;
    color: #2699FB;
}

.counter-section p {
    margin-bottom: 0;
}

.highlights-section {
    background-color: #F7FAFF;
}

.highlights-section h2 {
    font-size: 36px;
    font-weight: 700;
    color: #0A2134;
}

.highlights-section p {
    font-size: 18px;
    color: #0A2134;
}

.highlight-card h4 {
    font-size: 20px;
    color: #0A2134;
}

.highlight-card p {
    font-size: 15px;
    margin-bottom: 0;
}