* {
    font-family: "Inter", sans-serif;
}

.call-btn {
    background-image: linear-gradient(to right, #0ACEFE, #2699FB);
    border-color: #2699FB;
    transition: all .2s;

    &:hover {
        background-image: linear-gradient(to right, #2699FB, #0ACEFE);
    }
}